.AddCard{
    height: 100%;
    width: 100%;
}

.AddCard-container{
    padding: 10px;
}

.AddCard h1{
    font-size: 16px;
}

.AddCard-button{
    width: 100%;
    height: 60px;
    font-size: 19px;
    border-radius: 0px;
    background-color: #32b965;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;    
    left: 0;
    cursor: pointer;
}

.AddCard .paymentez-form *{
    font-family: sans-serif;
}

.AddCard .paymentez-form .otp-label{
    color: #555;
    background-color: #eee;
    padding: 5px 8px 5px 27px;
}

.AddCard .paymentez-form .otp-wrapper .otp-label:before{
    left: 5px;
}

.AddCard .paymentez-form .otp-wrapper .otp:checked+.otp-label, 
.AddCard .paymentez-form .otp-wrapper .otp:checked+.otp-label:before{
    color: #555;
    content: "X";
    border-bottom: 2px solid #555;
}

.AddCard .paymentez-form .paymentez_dialog_success{
    color: #555;
    background-color: inherit;
}

.AddCard .keyboard-wrapper{
    padding-top: 20px;
}

.AddCard .key,
.AddCard .clean  {
    color: #555;
    background-color: #eee;
    border: 1px solid #d9d9d9;
    
}